[core]
	editor = vim
	autocrlf = input
	excludesfile = /home/yongwen/.gitignore_global
[user]
	email = lawliet89@noreply.github.com
	name = Yong Wen Chua
[push]
	default = simple
[commit]
	gpgsign = false
